<template>
  <div class="container">
    <h1>Catalog</h1>
    <div class="row col-md-9">
      <div repeat.for="item of products" class="panel panel-default col-md-3">
        <div class="panel-heading">${item.name}</div>
        <div class="panel-body">${item.text}</div>
        <img src="${item.image}" class="img-thumbnail" alt="${item.name}" width="304" height="236">
      </div>
      <ul class="pagination">
        <li repeat.for="i of pageAmount">
          <a route-href="route: catalogNum; params.bind: {number:i}"
             click.delegate="refreshPage($i)">${i}</a>
        </li>
      </ul>
    </div>
      <div class="row col-md-3">
        <ul class="list-group">
          <li repeat.for="item of categories" class="list-group-item">${item.name}</li>
        </ul>
      </div>
  </div>
</template>