<template>
  <div class="container">
    <h1>Catalog</h1>
    <ul class="pagination col-md-9">
      <li class="${i+1 == number ? 'active' : ''}" repeat.for="i of pageAmount">
        <a route-href="route: catalogNum; params.bind: {number:i+1}"
           click.delegate="refreshPage($i+1)">${i+1}</a>
      </li>
    </ul>
    <div class="row col-md-12">
      <product-item value.bind="item" repeat.for="item of products"></product-item>
    </div>
    <!-- 
      <div class="row col-md-3">
        <ul class="list-group">
          <li repeat.for="item of categories" class="list-group-item">${item.name}</li>
        </ul>
      </div>
    -->
    <ul class="pagination col-md-9">
      <li class="${i+1 == number ? 'active' : ''}" repeat.for="i of pageAmount">
        <a route-href="route: catalogNum; params.bind: {number:i+1}"
           click.delegate="refreshPage($i+1)">${i+1}</a>
      </li>
    </ul>
  </div>
</template>