<template>
  <require from="../valueConverters/priceValueConverter"></require>
  <div class="panel panel-default">
    <div class="panel-heading">Ordered products:</div>
    <div class="panel-body table-responsive" if.bind="!isEmpty">
      <table class="table table-striped">
        <tr repeat.for="item of products">
          <td>${item.name}</td>
          <td>${item.price | price}</td>
          <td>${item.author}</td>
          <td><button class="btn">Download</button></td>
        </tr>
      </table>
      <button class="btn">Download all</button>
    </div>
    <div if.bind="isEmpty">
      No products have been ordered yet
    </div>
  </div>
</template>